{% extends 'base.html.twig' %}

{% block body %}
    <div class="count">
        Total Records: {{ pagination.getTotalItemCount }}
    </div>
    <table>
        {% for record in pagination %}
            <tr>
                <th>Date:</th>
                <td>{{ record.dateCreated|date('m/d/Y h:i:s a') }}</td>
            </tr>
            <tr>
                <th>Reason:</th>
                <td>{{ record.reason }}</td>
            </tr>
            <tr>
                <th>Name:</th>
                <td>{{ record.name }}</td>
            </tr>
            <tr>
                <th>Email:</th>
                <td>{{ record.email }}</td>
            </tr>
            <tr>
                <th>Phone:</th>
                <td>{{ record.phone }}</td>
            </tr>
            <tr>
                <th>Message:</th>
                <td>{{ record.message }}</td>
            </tr>
            <tr>
                <th><a href="/record/{uuid}" class="btn btn-success">Read</a></th>  
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}