{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>Date:</th>
            <td>{{ record.dateCreated|date('m/d/Y h:i:s a') }}</td>
        </tr>
        <tr>
            <th>Reason:</th>
            <td>{{ record.reason }}</td>
        </tr>
        <tr>
            <th>Name:</th>
            <td>{{ record.name }}</td>
        </tr>
        <tr>
            <th>Email:</th>
            <td>{{ record.email }}</td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>{{ record.phone }}</td>
        </tr>
        <tr>
            <th>Message:</th>
            <td>{{ record.message }}</td>
        </tr>
    </table>
{% endblock %}